/* Algemene shit */
body, h1, h2, p, form {
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Arial', sans-serif;
    background-color: rgb(34, 34, 34);
    
}

header {
    background-color: #ffffff;
    color: white;
    padding: 10px;
    text-align: center;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    margin-bottom: 5rem;
}

header a {
    color: white;
    text-decoration: none;
    margin-left: 10px;
}

header nav {
    align-items: center;
    display: flex;
    justify-content: space-between;
    margin: 20px;
}

header nav a {
    text-decoration: none;
    color: #000000;
    padding: 5px 10px;
    border-radius: 3px;
    background-color: #ffffff;
}

header nav a:hover {
    background-color: #555;
}
/* footer styling */
footer {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
    margin-top: 20px;
}

footer p {
    margin: 10px 0;
}

.social-icons {
    margin-top: 10px;
}

.social-icons a {
    margin-right: 10px;
}
/* indexpagina */

.content {
    max-width: 60vw;
    margin: 20px auto;
    background-color: white;
    padding: 20px;
    border-radius: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex; 
    flex-direction: row; 
    flex-wrap: wrap;
}
#content1{
    height: 110vh;
    max-width: 60vw;
    margin: 20px auto;
    background-color: white;
    border-radius: 25px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.recept {
    width: 48%;
    margin: 1%;
    box-sizing: border-box;
    flex-wrap: wrap;
    display: flex;
}
.recept img {
    width: 100%; 
    max-width: 100%;
    height: auto; 
}
.recept h2,
.recept p {
    margin-bottom: 10px;
}

/* inlogpagina */

.login-container {
    max-width: 400px;
    margin: 100px auto;
    background-color: white;
    padding: 20px;
    border-radius: 5px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

/* footer styling */
footer {
    background-color: #333;
    color: white;
    padding: 10px;
    text-align: center;
    margin-top: 20px;
}

footer p {
    margin: 10px 0;
}

.social-icons {
    margin-top: 10px;
}

.social-icons a {
    margin-right: 10px;
}

form {
    display: flex;
    flex-direction: column;
}

label {
    margin-bottom: 8px;
}

input,
textarea {
    margin-bottom: 16px;
    padding: 8px;
    border: 1px solid #ddd;
    border-radius: 3px;
}

.button {
    width: 12vw;
    padding: 10px;
    background-color: #333;
    color: white;
    border: none;
    border-radius: 50px;
    cursor: pointer;
}

button:hover {
    background-color: #555;
}

.logout-link {
    margin-top: 10px;
    display: block;
    text-align: right;
    font-size: 14px;
    color: #555;
}

.back-link {
    display: block;
    margin-top: 10px;
    text-decoration: none;
    color: #555;
    font-size: 14px;
}

.back-link:hover {
    text-decoration: underline;
}

.create-account-link {
    display: block;
    margin-top: 10px;
    text-decoration: none;
    color: #555;
    font-size: 14px;
}

.create-account-link:hover {
    text-decoration: underline;
}
.successvol-bericht {
    display: flex;
    justify-content: center;
    border-radius: 50%;
}
.logo{
    height: 80px;
}
.tekst{
    height: 50px;
}
.recept{
    height: 200px;
}
#bericht{
    height: 200px;
}
